<p>add-inventory works!</p>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<div class="container">
    @if(errorMessage.length > 0){
        <div class="alert alert-danger">
            <h4>Input Errors:</h4>
            @for(error of errorMessage; track $index){
                <li>{{error}}</li>
            }
        </div>
    }

    <div class="card shadow p-3 mb-3">
        <div class="text-center">
            <h2 style="font-weight: bold;">
                &#128395;Add Inventory to Collection&#128395;
            </h2>
        </div>
    
        <!-- Inventory Name input field -->
        <div class="mb-3">
            <label for="ingredientName" class="form-label fw-bold fs-5">Ingredient Name</label>
            <p>Name of the ingredient</p>
            <input type="text" minlength=2 maxlength=50 class="form-control" id="ingredientName" placeholder="E.g. Tomato" name="ingredientName" [(ngModel)]="inventory.ingredientName" required>
        </div>  

        <!-- Quantity input field -->
        <div class="mb-3">
            <label for="quantity" class="form-label fw-bold fs-5">Quantity available</label>
            <input type="number" min=0 step=0.01 max=9999 class="form-control" id="quantity" placeholder="E.g. 5 or 2.5" name="quantity" [(ngModel)]="inventory.quantity" required>
        </div>  

        <!-- Unit input field -->
        <div class="mb-3">
            <label for="unit" class="form-label fw-bold fs-5">Unit</label>
            <select name="unit" class="form-control" id="unit" [(ngModel)]="inventory.unit" required>
                <option value="">-Select unit of measurement-</option>
                @for (unit of unitTypes; track unit) {
                    <option [value]="unit">{{ unit }}</option>
                }
            </select>
        </div>  

        <!-- Category input field -->
        <div class="mb-3">
            <label for="category" class="form-label fw-bold fs-5">Category</label>
            <select name="category" class="form-control" id="category" [(ngModel)]="inventory.category" required>
                <option value="">-Select food category-</option>
                @for (category of categoryTypes; track category) {
                    <option [value]="category">{{ category }}</option>
                }
            </select>
        </div>  
        
        <!-- Purchase Date input field -->
        <div class="mb-3">
            <label for="purchaseDate" class="form-label fw-bold fs-5">Purchase Date</label>
            <p>Date the item was acquired.</p>
            <input type="date" class="form-control" id="purchaseDate" name="purchaseDate" [(ngModel)]="inventory.purchaseDate" required>
        </div>  

        <!-- Expiration Date input field -->
        <div class="mb-3">
            <label for="expirationDate" class="form-label fw-bold fs-5">Expiration Date</label>
            <p>Expiry date of the item, must be after purchase date</p>
            <input type="date" class="form-control" id="expirationDate" name="expirationDate" [(ngModel)]="inventory.expirationDate" required>
        </div>  

        <!-- Location input field -->
        <div class="mb-3">
            <label for="location" class="form-label fw-bold fs-5">Location</label>
            <p>Storage location of item</p>
            <select name="location" class="form-control" id="location" [(ngModel)]="inventory.location" required>
                <option value="">-Select storage location of item-</option>
                @for (location of locationTypes; track location) {
                    <option [value]="location">{{ location }}</option>
                }
            </select>
        </div>  

        <!-- Cost input field -->
        <div class="mb-3">
            <label for="cost" class="form-label fw-bold fs-5">Cost</label>
            <p>Cost of item in dollars ($), with 2 decimal places</p>
            <input type="number" min=0.01 step=0.01 max=999.99 class="form-control" id="cost" placeholder="e.g. 4.25" name="cost" [(ngModel)]="inventory.cost" required>
        </div>  

        <div class="text-center">
            <!-- Submit button to send post request -->
            <button (click)="addInventory()" class="btn btn-primary">Add Inventory</button>
        </div>
</div>

</div>