<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<div class="row">
    <div class="text-center"><br>
        <h1>Hello, <em>{{fullname}}</em>! Welcome to <b>Cloud Kitchen Pro</b>!<br></h1>
        <p></p>
        <h5>
            This is a collection of recipies and users made by our lovely admins, chefs, and managers including you, {{fullname}}!
            I'm here to help you elevate your love for food and ofcourse, to organise and store
            you're favorite recipies and track your ingredient inventory. I will be your digital cookbook and your best friend!
        </h5>
        <h6>With love,</h6>
        <h6>Caileen Sutedja (34375783)</h6>

    </div>
</div><br>
<hr>
<!-- Quick links -->
<div class="container text-center mt-4">
    <h4><strong>Quick Links to Pages</strong></h4>
    <div class="row justify-content-center">

        @if (auth.role === 'admin'){
            <!-- <div class="col-md-3 mb-2">
                <a routerLink="/34375783/report" class="btn btn-outline-primary w-100">Report</a>
            </div> -->
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/add" class="btn btn-outline-primary w-100">Add Inventory</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/view" class="btn btn-outline-primary w-100">View Inventory</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/delete" class="btn btn-outline-primary w-100">Delete Inventory</a>
            </div>
        }
        @if (auth.role === 'chef') {
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/recipe/add" class="btn btn-outline-primary w-100">Add Recipe</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/recipe/view" class="btn btn-outline-primary w-100">View Recipe</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/recipe/delete" class="btn btn-outline-primary w-100">Delete Recipe</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/add" class="btn btn-outline-primary w-100">Add Inventory</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/view" class="btn btn-outline-primary w-100">View Inventory</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/delete" class="btn btn-outline-primary w-100">Delete Inventory</a>
            </div>
            <!-- <div class="col-md-3 mb-2">
                <a routerLink="/34375783/chefDashboard" class="btn btn-outline-primary w-100">Chef Dashboard</a>
            </div> -->
        }
        @if (auth.role === 'manager') {
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/add" class="btn btn-outline-primary w-100">Add Inventory</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/view" class="btn btn-outline-primary w-100">View Inventory</a>
            </div>
            <div class="col-md-3 mb-2">
                <a routerLink="/34375783/inventory/delete" class="btn btn-outline-primary w-100">Delete Inventory</a>
            </div>
        }

    </div>
</div><br>
<hr>
<!-- Summary -->
 <div class="container text-center mt-4">
    <h4><strong>Overview of Collection</strong></h4>
</div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-danger text-white text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 fs-3">{{userCount}}</h6>
                        <h5 class="card-title">Total Users</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-primary text-white text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 fs-3">{{recipeCount}}</h6>
                        <h5 class="card-title">Total Recipies</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-success text-white text-center" style="width: 18rem">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 fs-3">{{inventoryCount}}</h6>
                        <h5 class="card-title">Total Inventory</h5>
                    </div>
                </div>
            </div>
           </div>
        </div>
<br><hr>
<div class="container text-center">
    <div class="row">
        <div class="col-md-8 ">
            <img src="/logo.png" alt="My Logo Picture">
        </div>
        
        <div class="col-md-4 fs-5 d-flex flex-column justify-content-center">
            <h3><strong>Your Personal Information:</strong></h3>
            <h5>Role: {{role}}</h5>
            <h5>User ID: {{userId}}</h5>
            <h5>Fullname: {{fullname}}</h5>
            <h5>Email: {{email}}</h5>
        </div>
    </div>
</div>
<br>